.job {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    display: grid;
    padding: 12px;
    gap: 16px;
    grid-template-columns: min-content 2fr 1fr;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 21px;
    color: #334680;
    cursor: pointer;
    box-sizing: border-box;
}

/* IMAGE */
.job_img {
    width: 90px;
    height: 90px;
    border-radius: 4px;
    overflow: hidden;
}

.job_img img {
    width: 100%;
    height: 100%;
}

/* JOB INFO */
.job_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.job_enterprise {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
}

.time {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    width: fit-content;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #334680;
    border-radius: 4px;
}


/* STATUS */
.job_status {
    align-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #B9BDCF;
    gap: 5px;
}

.job_status .city,
.job_status .ago {
    display: flex;
    gap: 8px;
    align-items: center;
}