.profile_info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 10px 0;
    font-size: 18px;
    align-items: center;
    font-weight: bold;
    color: #334680
}

.profile_info span {
    font-weight: normal !important;
}

.userType {
    color: #334680
}

.userType label,
.userType form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.userType form {
    padding: 10px 0;
}

@media screen and (max-width: 768px) {
    .profile_info {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        word-wrap: break-word;
    }

    .radioType label,
    .radioType {
        display: flex;
        flex-direction: column !important;
    }
}