.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/backgroundImg.png');
    background-repeat: no-repeat;
    border-radius: 8px;
    overflow: hidden;
    padding: 40px;
    width: 100%;
    margin-bottom: 40px;
}

.header .inputGroup {
    width: 60%;
    position: relative;
}

.header input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    padding: 14px 40px;
}

.header input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #B9BDCF;
}

.header button {
    position: relative;
    background: #1E86FF;
    border-radius: 4px;
    padding: 14px 40px;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: white;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.header i {
    position: absolute;
    font-size: 30;
    color: #B9BDCF;
    left: 20px;
    top: 49%;
    transform: translateY(-50%);
    color: #ccc;
}